<section id="currentUserShow">
	<h1 id="profileHeader"></h1>
	<div class="pure-g">
		<div class="pure-u-2-24"></div>
		<div class="pure-u-8-24" id="profilePic"></div>
		<div class="pure-u-14-24" id="usersName"></div>

	</div>
	<div class="pure-g">
		<div class="pure-u-1">
			<div id="userShowMap"></div>
		</div>
	</div>
	<div class="pure-g" id="userProjectsX">
		<%# <div class="pure-u-1-5" id="userProjects">

		</div>%>
	</div>

</section>
