<section id="front">
  <div class="pure-g">
    <div class="pure-u-24-24 middle-front">
      <div class="single-item">

      </div>
    </div>
  </div>

  <div class="pure-g">
    <div class="pure-u-1-24"></div>
    <div class="pure-u-23-24 l-box">
      <h3 class="content-subhead"><i class="fa fa-rocket"></i>The Community Projects Happening Near You:</h3>
      <h4>Click On The Icons To See The Projects On The Map Below:</h4>
      <div class="mapView">
        <div id="map"></div>
      </div>
    </div>
  </div>
</section>
