<section id="front">
  <div class="pure-g">
    <div class="pure-u-1-24"></div>
    <div class="pure-u-23-24 middle-front">

    </div>
  </div>

  <div class="pure-g">
    <div class="pure-u-1-24"></div>
    <div class="pure-u-23-24 l-box">
      <h3 class="content-subhead"><i class="fa fa-rocket"></i> Community projects happening near you:</h3>
      <h4>Click on the icon to see the project</h4>
      <div class="mapView">
        <div id="map"></div>
      </div>
    </div>
  </div>
</section>
