<section id="front">
<h1 id="center" ="center">GreenHub</h1>
<h2>This site showcases green projects around your local area if you want to volunteer. Login and get involved.</h2>
  <div class="pure-g">
    <div class="pure-u-24-24 middle-front">
      <div class="single-item">

      </div>
    </div>
  </div>

  <div class="pure-g">
    <div class="pure-u-1-24"></div>
    <div class="pure-u-23-24 l-box">
      <h2 id="center" class="content-subhead"><i class="fa fa-rocket"></i>The Community Projects Happening Near You:</h2>
      <h3 id="center">Click On The Icons To See The Projects On The Map Below:</h3>
      <div class="mapView">
        <div id="map"></div>
      </div>
    </div>
  </div>
</section>
