<section id="login">
  <h2>Login</h2>

    <form class="pure-form pure-form-aligned" action="/login" method="POST">
        <fieldset>
            <div class="pure-control-group" class="login">
                <label for="login-email">Email Address</label>
                <input name="email" type="email" id="login-email" placeholder="Email Address">
            </div>

            <div class="pure-control-group">
                <label for="login-password">Password</label>
                <input name="password"  type="password" id="login-password" placeholder="Password">
            </div>

            <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary registerLogin">Login</button>
            </div>
        </fieldset>
    </form>
</section>
