<form class="pure-form pure-form-aligned" action="/login" method="POST">
    <fieldset>
        <div class="pure-control-group">
            <label for="email">Email Address</label>
            <input id="email" type="email" placeholder="Email Address">
        </div>

        <div class="pure-control-group">
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Password">
        </div>

        <div class="pure-controls">
            <button type="login" class="pure-button pure-button-primary">Login</button>
        </div>
    </fieldset>
</form>