<section id="hubs">


<h1>All Projects - Projects index</h1>


<div class="pure-g">
  <div class="pure-u-4-24">
  gap left
  </div>
  <div class="pure-u-16-24">

      <div id="map">
        Map goes here
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip exn
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <ul class="hubslist">

      </ul>

  </div>
  <div class="pure-u-4-24">
  gap right
  </div>
</div>




</section>