<section id="hubs">

<div class="pure-g topbar-projectindex">


  <div class="pure-u-20-24">
  <h1>All Projects - Projects index</h1>
  </div>

  <div class="pure-u-4-24">
    right gap at top
  </div>
</div>



<div class="pure-g">
<!--   <div class="pure-u-4-24">
  gap left
  </div> -->
  <div class="pure-u-20-24">

  <div class="mapView">
      <div id="map">
        Map goes here
      </div>
  </div>

  <div class="listView">
      <ul class="hubslist">
      </ul>
  </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut </p>
      


  </div>
  <div class="pure-u-4-24">
     <a href="#" id="mapViewIdx">Map View</a>
     <a href="#" id="listViewIdx">List View</a>
  </div>
</div>




</section>