<section id="register">
  <form class="pure-form pure-form-aligned registerForm" action="/register" method="POST">
      <fieldset>
        <legend>Register</legend>
              <input id="email" name="email" type="email" placeholder="Email Address">

              <input id="name" name="name" type="text" placeholder="Username">

              <input id="password" name="password"  type="password" placeholder="Password">

              <input id="passwordConfirm" name="passwordConfirmation" type="password" placeholder="Confirm Password"><br />

              <div class="pure-controls">
                <input id="cb" type="checkbox">I'm on a mission to make Mother Earth proud!

              <button type="submit" class="button pure-button pure-button-primary registerLogin">Register</button>
            </div>
      </fieldset>
  </form>
</section>
