<section id="otherUserShow">
  <h1 id="profileHeader"></h1>
  <div class="pure-g">
    <div class="pure-u-1-3" class="profilePic" id="otherUserPic"> Other User Pic goes here</div>
    <div class="pure-u-1-3">
    <h1 id="otherUserName">User Name goes here</h1>
    <p>
    </p>
    <h3>Projects Organised:</h3>
    <ul class="userProjectsList" id="otherUserProjects">


    </ul>


    </div>
    <div class="pure-u-1-3"></div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
			<div class="centre"></div>
  </div>


</section>
