<!DOCTYPE html>
<html>
<head>
  <title>GreenHub</title>
  <link rel="stylesheet" type="text/css" href="/css/pure-min.css">
  <link rel="stylesheet" type="text/css" href="/css/slick.css">
  <style>  html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
      font-family: "customFont", DISCO !important;
    }

  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
  <script type="text/javascript" src="/js/slick.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6eFUCAvihA4XE4rGNJj1_Qs2km9zXZSs&libraries=places"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script type="text/javascript" src="/js/loginstate.js"></script>
  <script type="text/javascript" src="/js/apis.js"></script>
  <script type="text/javascript" src="/js/sections.js"></script>
  <script type="text/javascript" src="/js/usersList.js"></script>

  <script type="text/javascript" src="/js/eventAttendingClick.js"></script>

</head>
<body>

  <div id="layout">
    <a href="#menu" id="menuLink" class="menu-link">
      <span></span>
    </a>
    <div id="menu">
      <div class="pure-menu">
        <a class="pure-menu-link menu-title" href="/#/" >Green<br>Hub</a>
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="/#/" class="pure-menu-link register logged-out"><i class="fa fa-rocket"></i> Register</a>
          </li>
          <li class="pure-menu-item">
            <a href="/#/" class="pure-menu-link login logged-out"><i class="fa fa-key"></i> Login</a>
          </li>
          <li class="pure-menu-item menu-item-divided">
            <a href="/#/" class="pure-menu-link logged-in" id="user"><i class="fa fa-user"></i></center> </a>
          </li>
          <li class="pure-menu-item">
            <a href="#" class="pure-menu-link logged-in"><i class="fa fa-leaf"></i> Hubs</a>
          </li>
          <li class="pure-menu-item">
            <a href="#" class="pure-menu-link logged-in" id="projectNew"><i class="fa fa-map-marker" ></i>AddProject</a>
          </li>
          <li class="pure-menu-item menu-item-divided logged-in">
            <a href="/#/" class="pure-menu-link" id="editProfile"><i class="fa fa-pencil"></i></i> EditProfile</a>
          </li>
          <li class="pure-menu-item">
            <a href="/#/" class="pure-menu-link logout logged-in" id="logout"><i class="fa fa-sign-in"></i> Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-2-24"></div>
    <div class="pure-u-22-24">
      <% include partials/loginForm %>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-2-24"></div>
    <div class="pure-u-22-24">
      <% include partials/registerForm %>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-2-24"></div>
    <div class="pure-u-22-24">
      <% include partials/projectShow %>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-2-24"></div>
    <div class="pure-u-22-24">
      <% include partials/currentUserShow %>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-2-24"></div>
    <div class="pure-u-22-24">
      <% include partials/projectEdit %>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-2-24"></div>
    <div class="pure-u-22-24">
      <% include partials/userEdit %>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-2-24"></div>
    <div class="pure-u-22-24">
      <% include partials/projectsIndex %>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-2-24"></div>
    <div class="pure-u-22-24">
      <% include partials/userIndex %>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-2-24"></div>
    <div class="pure-u-22-24">
      <% include partials/projectNew %>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-2-24"></div>
    <div class="pure-u-22-24">
      <% include partials/front %>
    </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-2-24"></div>
      <div class="pure-u-22-24">
        <% include partials/userShow %>
      </div>
     </div>

</body>
</html>
