@font-face{
  font-family: 'MyWebFont';
  src: url('myfont.woff') format('woff'), 
       url('myfont.ttf') format('truetype'),
       url("fonts/DISCO__.ttf") format("truetype");
}

body {
  background: #F1FFFA;
  font-family: "customFont", DISCO !important;
}

#showImage img{

max-width: 100%;
}
#map {
  height: 400px;

}

#mapSmallProjectShow{
  height: 150px;
  width: 150px;
}

.projectItemBox{
  color:white;
  width:200px;
  height:120px;
}
.projectItemBox h3{
  background:rgba(0,0,0,0.5);
}

.topbar-projectindex{
border-bottom: 1px black solid;
text-align: center;
}

.topbar-showproject {
border-bottom: 1px black solid;
text-align: center;

}

.avatar img{
width: 80px;
}

#avatarBox img{
  width: 60px;
  height: 60px;
  border-radius: 100px;
}

#layout {
  background-color: #296B47;
  height: 100vw;
  width: 6%;
  -webkit-transition: all 250ms ease-in-out;
   -moz-transition: all 250ms ease-in-out;
   -ms-transition: all 250ms ease-in-out;
   -o-transition: all 250ms ease-in-out;
   transition: all 250ms ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
}

ul {
    list-style-type: none;
}

.pure-menu-list {
  margin-top: 30vh;
}

#layout:hover {
  width: 12%;
}

#imageFound {
  width: 200px;
}

#layout ul li a{
  color: transparent;
}

a.pure-menu-link:hover {
  background: #307F54;
}

link:active  {
  background: #307F54;
}

#layout:hover ul li a{
  color: #F1FFFA;
}

.menu-title {
  color: #F1FFFA;
}

i {
  color: #F1FFFA;
}

.pure-menu-selected {
  background-color: orange;
}



.pure-g{
  font-family: "customFont", DISCO !important;
}

.registerForm {
  display: inline-block;
}

#register {
  text-align: center;
}

.pure-menu-active>.pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
  background: #307F54;
}

