/*GLOBAL BODY SETTINGS*/
@font-face {
  font-family: 'MyWebFont';
  src: url("../fonts/CarnasExtraLightItalic.otf") format("truetype");
}

* {
    font-family: "MyWebFont";
}

body {
  background: #F1FFFA;
  color: #296B47;
}

#center {
  text-align: center;
}
.middle-front{
text-alifgn: center;
}

.individualComment {
  border: 1px white solid;
  background-color: #f2f2f2;
  margin-bottom: 8px
}


.pure-button-primary{
  border-radius: 3px;
  background: #296B47;
  box-shadow: 3px 4px 0px 0px #1F2F16;
}

.pure-button-primary:hover {
  box-shadow: none;
}

#login-email, #login-password {
  width: 30%;
}

#login {
  text-align: center;
}

/*REGISTER PAGE*/

section#register {
  font-size: 20px;
  color: #296B47;
  margin-top: 35px;
}

.pure-form legend {
    display: block;
    width: 100%;
    padding: .3em 0;
    margin-bottom: 3em;
    color: #296B47;
    border-bottom: 2px solid #296B47;
}

.pure-form-aligned .pure-controls {
    margin: 4.5em 0 1em;
}


button.pure-button.pure-button-primary.register{
  margin-left: 40px;
}

/*CURRENT USER SHOW*/

#usersName.pure-u-8-24 {
  text-align: center;
  margin-bottom: 10%;
}

#usersName.pure-u-8-24 h1 {
    font-size: 2.5em;
    margin: 1.5em 0;
}

section#currentUserShow h3 {
  text-align: center;
  font-size: 1.5em
}

/*NEW HUB*/
form#submitNewHub legend {
  text-align: center;
  padding: .3em 0;
  border-bottom: none;
  font-size: 1.5em
}

/*FRONT PAGE*/

.middle-front {
text-align: center;
}

.individualComment {
  border: 1px white solid;
  background-color: #f2f2f2;
  margin-bottom: 8px
}


.middleProjectShow {
  margin-top: 40px;
}


#showTitle{

  bottom:0px;
  text-align: bottom;
}

#showImage img{
max-width: 100%;
margin-top: 25px;
}

#map {
  height: 400px;
  width: 80%;
  margin-right: 50px;
}

#userShowMap {
  height: 400px;
  width: 600px;
  margin-left: 30%;
}

#mapSmallProjectShow{
  height: 150px;
  width: 150px;
}

.middleContentShow {

  margin-right: 25px;
}

.projectItemBox{
  color:white;
  width:200px;
  height:120px;
  background-size: cover;
  margin: 5px;
}
.projectItemBox h3{
  background:rgba(0,0,0,0.5);
}

.topbar-projectindex{
border-bottom: 2px #296B47 solid;
text-align: center;
}

div.topbar-showproject {
border-bottom: 2px #296B47 solid;
text-align: center;
width: 100%;

}

div.pure-u-6-24 {
  text-align: center;
}

.avatar img{
width: 80px;
border-radius: 10px;
margin-bottom: 11px;
margin-top: 9px;
border:  3px solid #296B47;

}

.individualComment{
  text-align: center;
  background: transparent;
  border: 2px solid #296B47;
  border-radius: 8px;
}

.insideAvBox {
  text-align: center;
}

.insideAvBox img{
  text-align: justify;
}


#avatarBox img{
  width: 80px;
  height: 80px;
  border-radius: 100px;
  margin: auto 0;
  margin-top: 50px;
  margin-left: 50px;
}

#profilePic img{
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.profilePic img{
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

#layout {
  background-color: #296B47;
  height: 100vw;
  width: 6%;
  -webkit-transition: all 250ms ease-in-out;
   -moz-transition: all 250ms ease-in-out;
   -ms-transition: all 250ms ease-in-out;
   -o-transition: all 250ms ease-in-out;
   transition: all 250ms ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

ul {
    list-style-type: none;
}

.pure-menu-list {
  margin-top: 30vh;
}

#layout:hover {
  width: 12%;
  background: rgba(41,107, 71, .89);
}


#layout ul li a{
  color: transparent;
}

a.pure-menu-link:hover {
  background: #568259;
  -webkit-transition: all 250ms ease-in-out;
   -moz-transition: all 250ms ease-in-out;
   -ms-transition: all 250ms ease-in-out;
   -o-transition: all 250ms ease-in-out;
   transition: all 250ms ease-in-out;
}

link:active  {
  background: #568259;
}

#layout:hover ul li a{
  color: #F1FFFA;
}

.menu-title {
  color: #F1FFFA;
}

i {
  color: #F1FFFA;
}


.pure-form{
  font-family: "customFont", DISCO;
}

.registerForm {
  display: inline-block;
}

#register {
  text-align: center;
}

.pure-menu-active>.pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
  background: #307F54;
}





.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

#user:hover {
  text-align: center;
}

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}

.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
  background: rgba(0, 0, 0, 0.8);
}

.userProjectTiles {
  background-color: #296B47;
  margin-left: 5px;
  width: 24%;
  height: 220px;
  text-align: center;
  position: relative;
  color: #F1FFFA;
  border-radius: 5px;
  display: inline-block;
}

.pTop {
  position: absolute;
  margin: 0;
  top: 1px;
  text-align: center;
}

.pBottom {
  position: absolute;
  bottom: 1px
  margin-top: 0;
}

.projectImages {
  height: 140px;
  margin-top: 40px;
  border: 3px solid #F1FFFA;
  border-radius: 10px;
}

.single-item {
  width: 95%;
  margin: 40px auto;
  margin-left: 0px;
}

.pictureSpin {
  min-height: 450px;
  max-height: 450px;
  width: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
userProjectsX-otheruser {
  letter-spacing: normal;

}

#userProjectsX {
  margin-top: 10px;
  letter-spacing: normal;
}
